/* GENERAL STYLES */

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  /* # SPACE SYSTEM */
  /* ## TYPOGRAPHY - FONT SIZES */
  --10px: calc(10rem / 16);
  --12px: calc(12rem / 16);
  --14px: calc(14rem / 16);
  --16px: calc(16rem / 16);
  --18px: calc(18rem / 16);
  --20px: calc(20rem / 16);
  --24px: calc(24rem / 16);
  --36px: calc(36rem / 16);
  --44px: calc(44rem / 16);
  --52px: calc(52rem / 16);
  --62px: calc(62rem / 16);
  --74px: calc(74rem / 16);
  --86px: calc(86rem / 16);
  --98px: calc(98rem / 16);

  /* ## WHITESPACE */
  --2ws: calc(2rem / 16);
  --4ws: calc(4rem / 16);
  --8ws: calc(8rem / 16);
  --12ws: calc(12rem / 16);
  --16ws: calc(16rem / 16);
  --24ws: calc(24rem / 16);
  --32ws: calc(32rem / 16);
  --48ws: calc(48rem / 16);
  --64ws: calc(64rem / 16);
  --80ws: calc(80rem / 16);
  --96ws: calc(96rem / 16);
  --128ws: calc(128rem / 16);

  /* # COLORS */
  /* ### Primary */
  --color-pw: hwb(0 100% 0%);
  --color-pb: hsl(0, 0%, 0%);
  --color-pdg: hsl(0, 0%, 55%);
  --color-pvdg: hsl(0, 0%, 41%);

  overflow-x: hidden;
}

/* GENERAL STYLES */

/* FRONTEND MENTOR STYLES */

.attribution {
  font-size: calc(11rem / 16);
  text-align: center;
  color: var(--color-pdg);
}
.attribution a:link,
.attribution a:visited {
  color: var(--color-pw);
  text-decoration: none;
}

/* FRONTEND MENTOR STYLES */

/* REUSABLE STYLES */

.heading {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}

/* REUSABLE STYLES */

/* PROJECT STYLES */

html.overflow,
.overflow body {
  overflow-y: hidden;
}

body {
  --15px: calc(15rem / 16);
  font-size: var(--15px);
  font-family: "Alata", sans-serif;
  font-weight: 400;
  line-height: 1;
  background-color: var(--color-pb);

  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  min-width: calc(375rem / 16);
  padding: 0 var(--32ws);

  margin: auto;
}

.header {
  background-image: url(images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;

  position: relative;
}

.main-heading {
  justify-self: center;
  align-self: center;
  padding: var(--32ws);
  border: var(--2ws) solid var(--color-pw);
}
.main-heading h1 {
  color: var(--color-pw);
  font-size: var(--36px);
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--12ws) var(--24ws);

  position: absolute;
  top: 0;
  color: var(--color-pw);
  z-index: 100;
  width: 100%;
  height: var(--48ws);
}

.btn {
  background: none;
  cursor: pointer;
  opacity: 1;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-pb);

  display: flex;
  flex-direction: column;
  left: 100%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition: all 0.7s ease-in;
}

.open .nav {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  left: 0;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--24ws);
  height: 100vh;
}

.nav-item {
  position: relative;
}

.nav-item a:link,
a:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--24px);
  color: var(--color-pw);
}

.main {
  background-color: var(--color-pw);
}

.product {
  margin: var(--96ws) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--24ws);
}

.product-img {
  width: 100%;
  margin-bottom: var(--16ws);
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: var(--24ws);
}

.product-heading {
  color: var(--color-pb);
  text-align: center;
  font-size: calc(30rem / 16);
  line-height: 1.2;
}

.product-text {
  text-align: center;
  line-height: 2;
  font-size: var(--16px);
  margin: 0 var(--12ws);
  color: var(--color-pvdg);
}

.creation-heading {
  text-align: center;
  font-size: calc(30rem / 16);
  letter-spacing: calc(2rem / 16);
  font-weight: 300;

  margin-bottom: var(--36px);
}

.creations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.creation-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--24ws);
  margin-bottom: var(--32ws);
}

.creation-item {
  position: relative;
  overflow: hidden;
}

.creation-item::before {
  content: "hello";
  position: absolute;
  background-color: var(--color-pb);
  opacity: 0;
  top: 0;
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  transition: all 1s ease-out;
}

.creation-item:hover::before {
  opacity: 0.5;
  transform: translateX(0);
}

.creation-item:hover > .img-text {
  width: calc(190rem / 16);
  font-size: var(--36px);
  margin-left: var(--32ws);
}

.creation-item::after {
  content: "";
  position: absolute;
  background-color: var(--color-pb);
  opacity: 0.4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.creation-img {
  width: 100%;
}

.img-text {
  position: absolute;
  top: 70%;
  transform: translateY(-70%);
  margin-left: var(--24ws);

  font-size: var(--24px);
  text-transform: uppercase;
  color: var(--color-pw);

  display: block;
  z-index: 100;
  width: calc(140rem / 16);

  transition: all 1s;
}

.creation-btn:link,
.creation-btn:visited {
  display: inline-block;
  border: var(--2ws) solid var(--color-pb);
  padding: var(--16ws) calc(50rem / 16);

  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: var(--2ws);
  font-size: var(--20px);
  color: var(--color-pb);

  margin-bottom: var(--96ws);

  transition: background 0.5s, color 0.5s, transform 0.5s;
}

/* ACTIVE STATE */

.creation-btn:hover {
  color: var(--color-pw);
  background-color: var(--color-pb);
  transform: scale(1.08);
}

/* ACTIVE STATE */

.footer {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;

  margin: var(--48ws) 0;
}

.footer .logo {
  width: calc(100rem / 16);
  margin-bottom: var(--48ws);
}

.routes {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--48ws);
}

.route-list {
  display: flex;
  flex-direction: column;
  gap: var(--24ws);
  list-style: none;
}
.route-item {
  position: relative;
}

.route-item a:link,
.route-item a:visited {
  text-decoration: none;
  color: var(--color-pw);
}

.social-item {
  position: relative;
}

.social-icons {
  margin-bottom: var(--24ws);
}

.social-list {
  list-style: none;
  display: flex;
  gap: var(--16ws);
}

.social-icon {
  color: antiquewhite;
}

.copy {
  margin-bottom: var(--24ws);
  color: var(--color-pdg);
}

@media (min-width: calc(500em / 16)) {
  /* ACTIVE STATES */
  /* CAN BE REUSABLE */
  .nav-item a::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    height: 2px;
    width: 20px;
    background-color: var(--color-pw);
    margin-top: 5px;
    text-align: center;
    opacity: 0;

    transition: opacity 0.5s, transform 0.5s;
  }

  .nav-item a:hover::after {
    transform: translateX(-50%);
    opacity: 1;
  }

  /* ACTIVE STATES */

  /* ACTIVE STATES */
  /* CAN BE REUSABLE */
  .route-item a::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    height: 2px;
    width: 20px;
    background-color: var(--color-pw);
    margin-top: 5px;
    text-align: center;
    opacity: 0;

    transition: opacity 0.5s, transform 0.5s;
  }

  .route-item a:hover::after {
    transform: translateX(-50%);
    opacity: 1;
  }
  /* ACTIVE STATES */

  /* ACTIVE STATES */
  /* CAN BE REUSABLE */
  .social-item a::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    height: 2px;
    width: 100%;
    background-color: var(--color-pw);
    margin-top: 5px;
    text-align: center;
    opacity: 0;

    transition: opacity 0.5s, transform 0.5s;
  }

  .social-item a:hover::after {
    transform: translateX(-50%);
    opacity: 1;
  }
  /* ACTIVE STATES */

  .container {
    min-width: 100%;
  }

  .btn {
    display: none;
  }

  .nav-header {
    z-index: 0;
  }

  .nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transition: none !important;
    background: none;
    width: auto;
    left: 0;
    height: var(--48ws);
    left: 100%;
    transform: translateX(-100%);
    padding: var(--12ws) var(--32ws);
  }

  .nav-list {
    flex-direction: row;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .nav-item a:link,
  .nav-item a:visited {
    font-size: var(--10px);
  }
}

/* PROJECT STYLES */

@media (min-width: calc(600em / 16)) {
  .container {
    min-width: 100%;
    grid-template-columns: 1fr 1fr;
    padding: 0 var(--64ws);
  }

  .header {
    background-image: url(images/desktop/image-hero.jpg);
    background-position: center;
    height: 70vh;
  }

  .main-heading {
    grid-column: 1/-1;
    margin-right: 40%;
    justify-self: start;
  }
  .main-heading h1 {
    font-size: var(--52px);
    font-weight: 300;
  }

  .main {
    grid-template-columns: 1fr !important;
  }

  .footer {
    gap: var(--16ws);
  }

  .footer .logo,
  .routes,
  .social-icons,
  .copy {
    margin: 0;
  }

  .footer .logo,
  .routes,
  .attribution {
    justify-self: start;
  }

  .route-list {
    flex-direction: row;
  }

  .social-icons {
    grid-area: 1 / 2;
    justify-self: end;
  }

  .copy {
    justify-self: end;
  }

  .route-list {
    justify-content: center;
    align-items: center;
  }

  .attribution {
    grid-column: 1 / -1;
  }
}

@media (min-width: calc(900em / 16)) {
  .header {
    height: 95vh;
  }

  .main-heading,
  .nav-header,
  .nav {
    margin-top: var(--32ws);
  }

  .nav-header img {
    width: calc(150rem / 16);
  }

  .main-heading h1 {
    font-size: var(--74px);
  }

  .product {
    display: grid;
    grid-template-columns: 2fr 1fr;

    position: relative;
  }

  .product-info {
    position: absolute;
    background-color: var(--color-pw);
    width: calc(450rem / 16);
    top: 35%;
    left: 100%;
    transform: translateX(-100%);
    padding: var(--32ws);
  }

  .product-heading {
    font-size: var(--36px);
  }

  .product-text {
    text-transform: none;
    font-weight: bold;
    line-height: 1.5;
  }

  .creation-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .creation-item img {
    max-width: 100%;
    max-height: calc(450rem / 16);
  }
}
@media (min-width: calc(1000em / 16)) {
  .container {
    padding: 0 var(--128ws);
  }

  .root {
    max-width: calc(1440rem / 16);
    margin: auto;
  }

  .product {
    margin-bottom: var(--128ws);
  }

  .product-info {
    min-width: 50%;
    min-height: 80%;
  }

  .creations {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .creation-heading {
    grid-area: 1 / 1;
    justify-self: start;
    margin: 0;
    font-size: var(--52px);
  }

  .creation-btn:link,
  .creation-btn:visited {
    grid-area: 1 / 2;
    justify-self: end;
    margin: 0;
  }

  .creation-list {
    grid-column: 1 / -1;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: var(--80ws) 0;
  }

  .product-text {
    text-align: start;
    font-size: 125%;
  }
}
